
extend ../views/layout


block content
	form(action='/signup', method='post')
		input(type='text', name='name', placeholder='Username')
		br
		input(type='password', name='password', placeholder='Password')
		br
		input(type='submit', value='Signup')
		br