
extend ../views/layout


block content
	form(action='/signup', metho='post')
		p: input(type='text', placeholder='Username')
		p: input(type='password', placeholder='Password')
		p: input(type='password', placeholder='Password confirmation')
		p: input(type='submit', value='Signup')